<!DOCTYPE html>
<html class="no-js" lang="fr-FR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Junior ESIEE</title>
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('images/favicon/apple-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('images/favicon/apple-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('images/favicon/apple-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('images/favicon/apple-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('images/favicon/apple-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('images/favicon/apple-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('images/favicon/apple-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('images/favicon/apple-icon-152x152.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/favicon/apple-icon-180x180.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('images/favicon/android-icon-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('images/favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/favicon/manifest.json') }}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ asset('images/favicon/ms-icon-144x144.png') }}">
        <meta name="theme-color" content="#ffffff">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon/favicon.ico') }}" />
        {% stylesheets filter="scssphp" output="css/app.css"
            "scss/app.scss"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,200,600,700,900' rel='stylesheet' type='text/css'>
        <link href='//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css'>
    </head>
    <body class="process">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="filters">
            <filter id="filter-blur">
                <feFlood flood-color="#555555" result="COLOR-gray" />
                <feComposite in="COLOR-gray" in2="SourceAlpha" operator="in" result="caca"/>
                <feGaussianBlur in="caca" stdDeviation="0.5" />
            </filter>
            <filter id="filter-gray">
                <feFlood flood-color="#555555" result="COLOR-gray" />
                <feComposite in="COLOR-gray" in2="SourceAlpha" operator="in" result="caca"/>
            </filter>
            <filter id="filter-grayscale">
                <feColorMatrix in="SourceGraphic" type="saturate" values="0"/>
            </filter>
            <filter id="filter-bluescale">
                <feFlood flood-color="#789bd1" result="color" />
                <feColorMatrix in="SourceGraphic" type="saturate" values="0" result="graypic"/>
                <feBlend in="graypic" in2="color" mode=multiply>
            </filter>       
        </svg>
        <!--[if lte IE 9]>
        <div class="oldbrowser">
            <div class="row">
                <div class="small-12 columns">
                <h1>Bonjour !</h1>
                <p>Ce site est optimisé pour les navigateurs récents.</p>
                </div>
            </div>
        </div>
        <![endif]-->
        <nav class="main" id="nav">
        <div class="row">
            <a href="/">
            <div class="small-5 medium-3 large-2 columns logo">
                <!--<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1439.3 700.7" enable-background="new 0 0 1439.3 700.7" xml:space="preserve"> <g> <g> <path fill="#525970" d="M995.5,271.9c-4.8,5.7-13,7.3-19.5,3.7c-8.2-4.5-17.3-6.2-27.5-6.2c-17.8,0-27.7,5.5-27.7,15.1 c0,9.8,8.9,15.4,28.3,16.6c28.6,1.8,64.9,8.3,64.9,48.6c0,26.8-21.8,49.9-65.2,49.9c-19.7,0-39.4-2.7-58-16.4 c-7.2-5.3-9-15.3-3.9-22.7l0.5-0.7c4.9-7.1,14.4-9.1,21.9-4.8c12.1,7,28.1,11.6,40.2,11.8c14.2,0.3,27.4-7.1,27.4-18.2 c0-10.5-8.6-14.8-30.2-16c-28.6-2.2-62.8-12.6-62.8-47.1c0-35.1,36.3-47.4,64-47.4c16.6,0,30.3,2.3,43,8.9 c9.1,4.7,11.4,16.6,4.8,24.4L995.5,271.9z"/> <path fill="#525970" d="M1079,205.2c0,29.2-44.3,29.2-44.3,0S1079,176,1079,205.2z M1038.1,255.9v127.3c0,9.1,7.4,16.5,16.5,16.5 h4.5c9.1,0,16.5-7.4,16.5-16.5V255.9c0-9.1-7.4-16.5-16.5-16.5h-4.5C1045.5,239.3,1038.1,246.7,1038.1,255.9z"/> <path fill="#525970" d="M1141.5,333.2c2.5,18.8,18.8,32.3,45.2,32.3c9.8,0,21.8-2.6,31-7.3c6.4-3.3,14.2-2.3,19.4,2.8l0.7,0.7 c7.9,7.8,6.1,21-3.6,26.2c-14.6,7.9-32.1,11.8-48.1,11.8c-52.3,0-83.4-32.3-83.4-80.9c0-46.2,31.4-79.4,80.6-79.4 c41.7,0,70.6,21.2,76.3,63.5c2.2,16.1-10.3,30.4-26.5,30.4H1141.5z M1223.9,302.1c-2.5-19.7-17.8-29.5-39.4-29.5 c-20.3,0-36.9,9.8-42.5,29.5H1223.9z"/> <path fill="#525970" d="M1320.9,333.2c2.5,18.8,18.8,32.3,45.2,32.3c9.8,0,21.8-2.6,31-7.3c6.4-3.3,14.2-2.3,19.4,2.8l0.7,0.7 c7.9,7.8,6.1,21-3.6,26.2c-14.6,7.9-32.1,11.8-48.1,11.8c-52.3,0-83.4-32.3-83.4-80.9c0-46.2,31.4-79.4,80.6-79.4 c41.7,0,70.6,21.2,76.3,63.5c2.2,16.1-10.3,30.4-26.5,30.4H1320.9z M1403.4,302.1c-2.5-19.7-17.8-29.5-39.4-29.5 c-20.3,0-36.9,9.8-42.5,29.5H1403.4z"/> </g> <g> <path fill="#59C1D7" d="M763.9,80c22.1,0,40-17.9,40-40S786,0,763.9,0H600H362v80h238H763.9z"/> <line fill="#59C1D7" x1="362" y1="160" x2="362" y2="240"/> <path fill="#59C1D7" d="M763.9,319.3H600H442l0-79.3h98.3c22.1,0,40-17.9,40-40s-17.9-40-40-40H362v15v65v79.3H0v73.9v6.1v80.4 c0,59,23,114.5,64.7,156.3S162,700.7,221,700.7s114.5-23,156.3-64.7S442,538.8,442,479.8l0-80.4h158h163.9c22.1,0,40-17.9,40-40 S786,319.3,763.9,319.3z M362,479.8c0,77.7-63.2,141-141,141c-77.7,0-141-63.2-141-141v-80.4h282V479.8z"/> <rect x="442" y="319.3" opacity="0.2" fill="#1F727C" width="40" height="80"/> </g> <g> <path fill="#525970" d="M541.4,549.7c9.5,0,17.1,7.7,17.1,17.1V627c0,22.3,12.1,39.3,35.2,39.5c21.1,0.2,38.2-17.3,38.2-38.5 v-61.3c0-9.5,7.7-17.1,17.1-17.1h2c9.5,0,17.1,7.7,17.1,17.1v113.8c0,9.5-7.7,17.1-17.1,17.1h-0.3c-8.7,0-16-6.5-17-15.1l-0.6-5 c-15.3,15-29.4,22.2-50,22.2c-35.4,0-61.1-26.7-61.1-72.5v-60.5c0-9.5,7.7-17.1,17.1-17.1H541.4z"/> <path fill="#525970" d="M826.4,697.4c-9.5,0-17.1-7.7-17.1-17.1v-60.2c0-22.3-12.1-39.3-35.2-39.5c-21.1-0.2-38.2,17.3-38.2,38.5 v61.3c0,9.5-7.7,17.1-17.1,17.1h-2c-9.5,0-17.1-7.7-17.1-17.1V566.6c0-9.5,7.7-17.1,17.1-17.1h0.3c8.7,0,16,6.5,17,15.1l0.6,5 c15-14.7,30-22.2,48.5-22.2c34.8,0,62.6,26.1,62.6,72.5v60.5c0,9.5-7.7,17.1-17.1,17.1H826.4z"/> <path fill="#525970" d="M917.1,508.1c0,28.5-43.1,28.5-43.1,0C874,479.6,917.1,479.6,917.1,508.1z M877.3,566.3v114.1 c0,9.5,7.7,17.1,17.1,17.1h2.3c9.5,0,17.1-7.7,17.1-17.1V566.3c0-9.5-7.7-17.1-17.1-17.1h-2.3 C884.9,549.1,877.3,556.8,877.3,566.3z"/> <path fill="#525970" d="M1096.9,623.7c0,42.5-29.1,77-77,77s-76.7-34.5-76.7-77c0-42.2,29.4-77,76.4-77S1096.9,581.5,1096.9,623.7 z M979.7,623.7c0,22.5,13.5,43.4,40.1,43.4c26.7,0,40.1-21,40.1-43.4c0-22.2-15.6-43.7-40.1-43.7 C993.5,580,979.7,601.6,979.7,623.7z"/> <path fill="#525970" d="M1158.2,564.2l0.4,2.6c11.4-18.3,26.7-21,41.6-21c7.2,0,14.2,1.3,20.5,3.5c10.3,3.7,14.9,15.7,9.9,25.4 l-0.2,0.3c-4.1,7.9-13.3,11.6-21.7,8.9c-3.8-1.2-8-1.9-13.2-1.9c-19.2,0-36.9,10.2-36.9,37.5v60.8c0,9.5-7.7,17.1-17.1,17.1h-2.3 c-9.5,0-17.1-7.7-17.1-17.1V566.9c0-9.5,7.7-17.1,17.1-17.1h2.1C1149.7,549.7,1156.9,555.9,1158.2,564.2z"/> </g> </g> </svg>-->
                <!--<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 187.65 177.73" enable-background="new 0 0 592.1 362" xml:space="preserve" id="svg2" width="100" height="100"><metadata id="metadata50"/><defs id="defs48"/><g id="Calque_2" transform="translate(-202.29131,0.05350574)"/><g id="Calque_1" transform="translate(-202.29131,0.05350574)"><path d="m344.9 10.4c-23.5 7.7-54.4 18.3-54.4 18.3l-0.9 8c0 0 16.4-5.5 32.8-11.1 14.2-4.9 28-9.5 33.7-9.2 3.6 0.2-0.3 17-4.1 44.3l-51.7 15.3-9 18.5 58.2-15.9c-6.9 52.5-6.6 51.4-10.5 58.6-3.4 6.3-16.5 7.9-39.7 13.3l-1.2 11.4c0 0 21.9-4.6 42-9.5 22.5-5.5 27.7-9 31.4-12.9 13.3-13.7 12.8-39.1 15.8-80.4 1.9-25.6 4.3-49.4 1-56.1-3.4-6.9-17.8-1.1-43.4 7.4z" id="path18" fill="#d0d0dd"/><path d="m290.5 28.7-0.9 8c-17.4 5.5-26.7 8.7-28.4 11.8-0.7 1.3-2.3 6.8-5.2 17.2-1.8 6.4-4.6 14.4-6.5 25.3l50.8-14.9-8.9 18.5-47.4 14c0 0-3.5 12.3-6.8 24.2-3.7 13.5-7.8 26.9-4.4 29.5 2 1.5 16.8-1.3 31.2-4.2 17.7-3.6 35.4-7.5 35.4-7.5l-1.2 11.4c0 0-18 3.6-39.3 8.3-24.2 5.3-51.2 10.4-55.2 5.2-5.1-6.7 4.7-33.7 12.6-59.1 10-32.3 14-54.8 27.9-68.5 6.5-6.6 46.3-19.2 46.3-19.2" id="path20" fill="#9897a1"/></g></svg>-->
                <img src="{{ asset('images/logo-b.png') }}" id="logo">
            </div>
            </a>
            <div class="show-for-large-up medium-9 large-10 columns clearfix menu menu-large">
                <ul class="inline-list right">
                    <li><a href="{{ path('junior_homepage') }}">Accueil</a></li>
                    <li><a href="{{ path('junior_homepage') }}#competencies">Compétences</a></li>
                    <li><a href="{{ path('junior_process') }}">Fonctionnement</a></li>
                    <li><a href="#" class="button button-cta toContact button-noshadow">Contactez-nous</a></li>
                </ul>
            </div>
            <div class="small-7 medium-9 hide-for-large-up columns menu menu-small text-right">
                <a href="#" class="toggle-nav"><i class="ion-navicon"></i></a>
            </div>
            <div class="nav-overlay">
                    <div class="row">
                        <div class="small-4 small-offset-4 columns logo"><svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1439.3 700.7" enable-background="new 0 0 1439.3 700.7" xml:space="preserve"> <g> <g> <path fill="#525970" d="M995.5,271.9c-4.8,5.7-13,7.3-19.5,3.7c-8.2-4.5-17.3-6.2-27.5-6.2c-17.8,0-27.7,5.5-27.7,15.1 c0,9.8,8.9,15.4,28.3,16.6c28.6,1.8,64.9,8.3,64.9,48.6c0,26.8-21.8,49.9-65.2,49.9c-19.7,0-39.4-2.7-58-16.4 c-7.2-5.3-9-15.3-3.9-22.7l0.5-0.7c4.9-7.1,14.4-9.1,21.9-4.8c12.1,7,28.1,11.6,40.2,11.8c14.2,0.3,27.4-7.1,27.4-18.2 c0-10.5-8.6-14.8-30.2-16c-28.6-2.2-62.8-12.6-62.8-47.1c0-35.1,36.3-47.4,64-47.4c16.6,0,30.3,2.3,43,8.9 c9.1,4.7,11.4,16.6,4.8,24.4L995.5,271.9z"/> <path fill="#525970" d="M1079,205.2c0,29.2-44.3,29.2-44.3,0S1079,176,1079,205.2z M1038.1,255.9v127.3c0,9.1,7.4,16.5,16.5,16.5 h4.5c9.1,0,16.5-7.4,16.5-16.5V255.9c0-9.1-7.4-16.5-16.5-16.5h-4.5C1045.5,239.3,1038.1,246.7,1038.1,255.9z"/> <path fill="#525970" d="M1141.5,333.2c2.5,18.8,18.8,32.3,45.2,32.3c9.8,0,21.8-2.6,31-7.3c6.4-3.3,14.2-2.3,19.4,2.8l0.7,0.7 c7.9,7.8,6.1,21-3.6,26.2c-14.6,7.9-32.1,11.8-48.1,11.8c-52.3,0-83.4-32.3-83.4-80.9c0-46.2,31.4-79.4,80.6-79.4 c41.7,0,70.6,21.2,76.3,63.5c2.2,16.1-10.3,30.4-26.5,30.4H1141.5z M1223.9,302.1c-2.5-19.7-17.8-29.5-39.4-29.5 c-20.3,0-36.9,9.8-42.5,29.5H1223.9z"/> <path fill="#525970" d="M1320.9,333.2c2.5,18.8,18.8,32.3,45.2,32.3c9.8,0,21.8-2.6,31-7.3c6.4-3.3,14.2-2.3,19.4,2.8l0.7,0.7 c7.9,7.8,6.1,21-3.6,26.2c-14.6,7.9-32.1,11.8-48.1,11.8c-52.3,0-83.4-32.3-83.4-80.9c0-46.2,31.4-79.4,80.6-79.4 c41.7,0,70.6,21.2,76.3,63.5c2.2,16.1-10.3,30.4-26.5,30.4H1320.9z M1403.4,302.1c-2.5-19.7-17.8-29.5-39.4-29.5 c-20.3,0-36.9,9.8-42.5,29.5H1403.4z"/> </g> <g> <path fill="#59C1D7" d="M763.9,80c22.1,0,40-17.9,40-40S786,0,763.9,0H600H362v80h238H763.9z"/> <line fill="#59C1D7" x1="362" y1="160" x2="362" y2="240"/> <path fill="#59C1D7" d="M763.9,319.3H600H442l0-79.3h98.3c22.1,0,40-17.9,40-40s-17.9-40-40-40H362v15v65v79.3H0v73.9v6.1v80.4 c0,59,23,114.5,64.7,156.3S162,700.7,221,700.7s114.5-23,156.3-64.7S442,538.8,442,479.8l0-80.4h158h163.9c22.1,0,40-17.9,40-40 S786,319.3,763.9,319.3z M362,479.8c0,77.7-63.2,141-141,141c-77.7,0-141-63.2-141-141v-80.4h282V479.8z"/> <rect x="442" y="319.3" opacity="0.2" fill="#1F727C" width="40" height="80"/> </g> <g> <path fill="#525970" d="M541.4,549.7c9.5,0,17.1,7.7,17.1,17.1V627c0,22.3,12.1,39.3,35.2,39.5c21.1,0.2,38.2-17.3,38.2-38.5 v-61.3c0-9.5,7.7-17.1,17.1-17.1h2c9.5,0,17.1,7.7,17.1,17.1v113.8c0,9.5-7.7,17.1-17.1,17.1h-0.3c-8.7,0-16-6.5-17-15.1l-0.6-5 c-15.3,15-29.4,22.2-50,22.2c-35.4,0-61.1-26.7-61.1-72.5v-60.5c0-9.5,7.7-17.1,17.1-17.1H541.4z"/> <path fill="#525970" d="M826.4,697.4c-9.5,0-17.1-7.7-17.1-17.1v-60.2c0-22.3-12.1-39.3-35.2-39.5c-21.1-0.2-38.2,17.3-38.2,38.5 v61.3c0,9.5-7.7,17.1-17.1,17.1h-2c-9.5,0-17.1-7.7-17.1-17.1V566.6c0-9.5,7.7-17.1,17.1-17.1h0.3c8.7,0,16,6.5,17,15.1l0.6,5 c15-14.7,30-22.2,48.5-22.2c34.8,0,62.6,26.1,62.6,72.5v60.5c0,9.5-7.7,17.1-17.1,17.1H826.4z"/> <path fill="#525970" d="M917.1,508.1c0,28.5-43.1,28.5-43.1,0C874,479.6,917.1,479.6,917.1,508.1z M877.3,566.3v114.1 c0,9.5,7.7,17.1,17.1,17.1h2.3c9.5,0,17.1-7.7,17.1-17.1V566.3c0-9.5-7.7-17.1-17.1-17.1h-2.3 C884.9,549.1,877.3,556.8,877.3,566.3z"/> <path fill="#525970" d="M1096.9,623.7c0,42.5-29.1,77-77,77s-76.7-34.5-76.7-77c0-42.2,29.4-77,76.4-77S1096.9,581.5,1096.9,623.7 z M979.7,623.7c0,22.5,13.5,43.4,40.1,43.4c26.7,0,40.1-21,40.1-43.4c0-22.2-15.6-43.7-40.1-43.7 C993.5,580,979.7,601.6,979.7,623.7z"/> <path fill="#525970" d="M1158.2,564.2l0.4,2.6c11.4-18.3,26.7-21,41.6-21c7.2,0,14.2,1.3,20.5,3.5c10.3,3.7,14.9,15.7,9.9,25.4 l-0.2,0.3c-4.1,7.9-13.3,11.6-21.7,8.9c-3.8-1.2-8-1.9-13.2-1.9c-19.2,0-36.9,10.2-36.9,37.5v60.8c0,9.5-7.7,17.1-17.1,17.1h-2.3 c-9.5,0-17.1-7.7-17.1-17.1V566.9c0-9.5,7.7-17.1,17.1-17.1h2.1C1149.7,549.7,1156.9,555.9,1158.2,564.2z"/> </g> </g> </svg></div>
                        <div class="small-2 small-offset-2 columns toggle-nav"><i class="ion-ios-close-empty"></i></div>
                    </div>
                    <a href="/"  class="toggle-nav">Acceuil</a>
                    <a href="/#competencies"  class="toggle-nav">Compétences</a>
                    <a href="process.html"  class="toggle-nav">Fonctionnement</a>
                    <a href="#" class="button button-cta toContact toggle-nav">Contactez-nous</a>
            </div>
        </div>
    </nav>
        {% block body %}{% endblock %}
        <div class="scrollpoint" id="contact"></div>
        <section class="home-section contact inverse">
            <h1>Discutons de votre projet !</h1>
            <form enctype="multipart/form-data" method="post">
                <div class="flexwrap">
                    <input type="hidden" name="_subject" value="Web : Nouveau message">
                    <input type="hidden" name="_replyto" value="%email">
                    <input type="hidden" name="_confirmation" value="<b>Merci !</b> <br> Nous avons bien reçu votre message et reviendrons vers vous très bientôt.">
                    <input type="text" name="_honey" value="" style="display:none">
                    <div class="input-bg">
                        <input type="text" name="lastname" placeholder="Quel est votre nom de famille ?" required />
                    </div>
                    <div class="input-bg">
                        <input type="text" name="firstname" placeholder="Votre prénom ?" required />
                    </div>
                    <div class="input-bg">
                        <input type="email" name="email" placeholder="Email" required />
                    </div>
                    <div class="input-bg">
                        <input type="tel" name="tel" placeholder="Téléphone" required />
                    </div>
                    <div class="input-bg textarea">
                        <textarea name="message" placeholder="Parlez-nous de votre projet." required></textarea>
                    </div>
                    <div class="input-bg file btn">
                        <div class="label">
                            <input type="file" name="file" id="attachement" multiple class="inputfile" data-multiple-caption="{count} fichiers sélectionnés"/>
                            <label for="attachement" class="file">Ajoutez un fichier</label>
                        </div>  
                    </div>
                    <div class="input-bg submit btn">
                        <input type="submit" value="Envoyer !">
                    </div>
                </div>
            </form>
            <div class="or">
                <div class="separator"></div>
                <div class="text">OU</div>
                <div class="separator"></div>
            </div>
            <h2 class="address">contact@junioresiee.com</h2>
        </section>
        <footer class="main home-section">
            <div class="row">
                <div class="small-12 large-3 columns logo visible-for-large">
                    <!--<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1439.3 700.7" enable-background="new 0 0 1439.3 700.7" xml:space="preserve"> <g> <g> <path fill="#525970" d="M995.5,271.9c-4.8,5.7-13,7.3-19.5,3.7c-8.2-4.5-17.3-6.2-27.5-6.2c-17.8,0-27.7,5.5-27.7,15.1 c0,9.8,8.9,15.4,28.3,16.6c28.6,1.8,64.9,8.3,64.9,48.6c0,26.8-21.8,49.9-65.2,49.9c-19.7,0-39.4-2.7-58-16.4 c-7.2-5.3-9-15.3-3.9-22.7l0.5-0.7c4.9-7.1,14.4-9.1,21.9-4.8c12.1,7,28.1,11.6,40.2,11.8c14.2,0.3,27.4-7.1,27.4-18.2 c0-10.5-8.6-14.8-30.2-16c-28.6-2.2-62.8-12.6-62.8-47.1c0-35.1,36.3-47.4,64-47.4c16.6,0,30.3,2.3,43,8.9 c9.1,4.7,11.4,16.6,4.8,24.4L995.5,271.9z"/> <path fill="#525970" d="M1079,205.2c0,29.2-44.3,29.2-44.3,0S1079,176,1079,205.2z M1038.1,255.9v127.3c0,9.1,7.4,16.5,16.5,16.5 h4.5c9.1,0,16.5-7.4,16.5-16.5V255.9c0-9.1-7.4-16.5-16.5-16.5h-4.5C1045.5,239.3,1038.1,246.7,1038.1,255.9z"/> <path fill="#525970" d="M1141.5,333.2c2.5,18.8,18.8,32.3,45.2,32.3c9.8,0,21.8-2.6,31-7.3c6.4-3.3,14.2-2.3,19.4,2.8l0.7,0.7 c7.9,7.8,6.1,21-3.6,26.2c-14.6,7.9-32.1,11.8-48.1,11.8c-52.3,0-83.4-32.3-83.4-80.9c0-46.2,31.4-79.4,80.6-79.4 c41.7,0,70.6,21.2,76.3,63.5c2.2,16.1-10.3,30.4-26.5,30.4H1141.5z M1223.9,302.1c-2.5-19.7-17.8-29.5-39.4-29.5 c-20.3,0-36.9,9.8-42.5,29.5H1223.9z"/> <path fill="#525970" d="M1320.9,333.2c2.5,18.8,18.8,32.3,45.2,32.3c9.8,0,21.8-2.6,31-7.3c6.4-3.3,14.2-2.3,19.4,2.8l0.7,0.7 c7.9,7.8,6.1,21-3.6,26.2c-14.6,7.9-32.1,11.8-48.1,11.8c-52.3,0-83.4-32.3-83.4-80.9c0-46.2,31.4-79.4,80.6-79.4 c41.7,0,70.6,21.2,76.3,63.5c2.2,16.1-10.3,30.4-26.5,30.4H1320.9z M1403.4,302.1c-2.5-19.7-17.8-29.5-39.4-29.5 c-20.3,0-36.9,9.8-42.5,29.5H1403.4z"/> </g> <g> <path fill="#59C1D7" d="M763.9,80c22.1,0,40-17.9,40-40S786,0,763.9,0H600H362v80h238H763.9z"/> <line fill="#59C1D7" x1="362" y1="160" x2="362" y2="240"/> <path fill="#59C1D7" d="M763.9,319.3H600H442l0-79.3h98.3c22.1,0,40-17.9,40-40s-17.9-40-40-40H362v15v65v79.3H0v73.9v6.1v80.4 c0,59,23,114.5,64.7,156.3S162,700.7,221,700.7s114.5-23,156.3-64.7S442,538.8,442,479.8l0-80.4h158h163.9c22.1,0,40-17.9,40-40 S786,319.3,763.9,319.3z M362,479.8c0,77.7-63.2,141-141,141c-77.7,0-141-63.2-141-141v-80.4h282V479.8z"/> <rect x="442" y="319.3" opacity="0.2" fill="#1F727C" width="40" height="80"/> </g> <g> <path fill="#525970" d="M541.4,549.7c9.5,0,17.1,7.7,17.1,17.1V627c0,22.3,12.1,39.3,35.2,39.5c21.1,0.2,38.2-17.3,38.2-38.5 v-61.3c0-9.5,7.7-17.1,17.1-17.1h2c9.5,0,17.1,7.7,17.1,17.1v113.8c0,9.5-7.7,17.1-17.1,17.1h-0.3c-8.7,0-16-6.5-17-15.1l-0.6-5 c-15.3,15-29.4,22.2-50,22.2c-35.4,0-61.1-26.7-61.1-72.5v-60.5c0-9.5,7.7-17.1,17.1-17.1H541.4z"/> <path fill="#525970" d="M826.4,697.4c-9.5,0-17.1-7.7-17.1-17.1v-60.2c0-22.3-12.1-39.3-35.2-39.5c-21.1-0.2-38.2,17.3-38.2,38.5 v61.3c0,9.5-7.7,17.1-17.1,17.1h-2c-9.5,0-17.1-7.7-17.1-17.1V566.6c0-9.5,7.7-17.1,17.1-17.1h0.3c8.7,0,16,6.5,17,15.1l0.6,5 c15-14.7,30-22.2,48.5-22.2c34.8,0,62.6,26.1,62.6,72.5v60.5c0,9.5-7.7,17.1-17.1,17.1H826.4z"/> <path fill="#525970" d="M917.1,508.1c0,28.5-43.1,28.5-43.1,0C874,479.6,917.1,479.6,917.1,508.1z M877.3,566.3v114.1 c0,9.5,7.7,17.1,17.1,17.1h2.3c9.5,0,17.1-7.7,17.1-17.1V566.3c0-9.5-7.7-17.1-17.1-17.1h-2.3 C884.9,549.1,877.3,556.8,877.3,566.3z"/> <path fill="#525970" d="M1096.9,623.7c0,42.5-29.1,77-77,77s-76.7-34.5-76.7-77c0-42.2,29.4-77,76.4-77S1096.9,581.5,1096.9,623.7 z M979.7,623.7c0,22.5,13.5,43.4,40.1,43.4c26.7,0,40.1-21,40.1-43.4c0-22.2-15.6-43.7-40.1-43.7 C993.5,580,979.7,601.6,979.7,623.7z"/> <path fill="#525970" d="M1158.2,564.2l0.4,2.6c11.4-18.3,26.7-21,41.6-21c7.2,0,14.2,1.3,20.5,3.5c10.3,3.7,14.9,15.7,9.9,25.4 l-0.2,0.3c-4.1,7.9-13.3,11.6-21.7,8.9c-3.8-1.2-8-1.9-13.2-1.9c-19.2,0-36.9,10.2-36.9,37.5v60.8c0,9.5-7.7,17.1-17.1,17.1h-2.3 c-9.5,0-17.1-7.7-17.1-17.1V566.9c0-9.5,7.7-17.1,17.1-17.1h2.1C1149.7,549.7,1156.9,555.9,1158.2,564.2z"/> </g> </g> </svg>-->
                    <!--<svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 187.65 177.73" enable-background="new 0 0 592.1 362" xml:space="preserve" id="svg2" width="100" height="100"><metadata id="metadata50"/><defs id="defs48"/><g id="Calque_2" transform="translate(-202.29131,0.05350574)"/><g id="Calque_1" transform="translate(-202.29131,0.05350574)"><path d="m344.9 10.4c-23.5 7.7-54.4 18.3-54.4 18.3l-0.9 8c0 0 16.4-5.5 32.8-11.1 14.2-4.9 28-9.5 33.7-9.2 3.6 0.2-0.3 17-4.1 44.3l-51.7 15.3-9 18.5 58.2-15.9c-6.9 52.5-6.6 51.4-10.5 58.6-3.4 6.3-16.5 7.9-39.7 13.3l-1.2 11.4c0 0 21.9-4.6 42-9.5 22.5-5.5 27.7-9 31.4-12.9 13.3-13.7 12.8-39.1 15.8-80.4 1.9-25.6 4.3-49.4 1-56.1-3.4-6.9-17.8-1.1-43.4 7.4z" id="path18" fill="#d0d0dd"/><path d="m290.5 28.7-0.9 8c-17.4 5.5-26.7 8.7-28.4 11.8-0.7 1.3-2.3 6.8-5.2 17.2-1.8 6.4-4.6 14.4-6.5 25.3l50.8-14.9-8.9 18.5-47.4 14c0 0-3.5 12.3-6.8 24.2-3.7 13.5-7.8 26.9-4.4 29.5 2 1.5 16.8-1.3 31.2-4.2 17.7-3.6 35.4-7.5 35.4-7.5l-1.2 11.4c0 0-18 3.6-39.3 8.3-24.2 5.3-51.2 10.4-55.2 5.2-5.1-6.7 4.7-33.7 12.6-59.1 10-32.3 14-54.8 27.9-68.5 6.5-6.6 46.3-19.2 46.3-19.2" id="path20" fill="#9897a1"/></g></svg>-->
                </div>
                <div class="small-12 large-3 columns address">
                    <h3>Adresse &amp; contact</h3>
                    <p>Junior ESIEE, 2 Boulevard Blaise Pascal BP 99 - 93162 Noisy le Grand CEDEX</p>
                    <p>contact@junioresiee.com<br>01 45 92 66 70</p>
                </div>
                <div class="small-12 large-3 columns partners">
                    <h3>Nos partenaires</h3>
                    <ul>
                        <li><a href="http://esiee.fr">ESIEE Paris</a></li>
                        <li><a href="https://www.societegenerale.fr">Société générale</a></li>
                        <li><a href="http://www.junior-entreprises.com">CNJE</a></li>
                        <li><a href="http://pep.enpc.org">Ponts Études Projets</a></li>
                        <li><a href="http://extia.fr">Extia</a></li>
                    </ul>
                </div>
                <div class="small-12 large-3 columns social">
                    <h3>Réseaux sociaux</h3>
                    <a href="https://www.facebook.com/JuniorEsieeParis"><i class="ion-social-facebook-outline"></i></a>
                    <a href="https://twitter.com/junioresiee"><i class="ion-social-twitter-outline"></i></a>
                    <a href="https://www.linkedin.com/company/junior-esiee"><i class="ion-social-linkedin-outline"></i></a>
                    <p class="link-legal"><a href="#" class="toggle-legal">Mentions légales</a></p>
                </div>
            </div>
        </footer>
        <section class="popup legal hide">
            <div class="close toggle-legal"><i class="ion-ios-close-empty"></i></div>
            <h1>Mentions légales</h1>
            <p>
                Junior ESIEE Paris est une association à but non lucratif régie par la loi française du 1er juillet 1901 et du décrêt du 16 août 1901. Son siège social se situe à :

                ESIEE Paris
                2 BD Blaise Pascal
                BP99
                93162 Noisy le Grand CEDEX

                Junior ESIEE Paris est déclarée à la sous-préfecture du Raincy.
                Numéro de SIRET : 348 301 243 000 13
                Code APE : 6202B
                Junior ESIEE Paris est affiliée à la Confédération Nationale des Junior-Entreprises, et détient à ce titre le label "Junior-Entreprise". 

                Les données, textes, contenus, images, de ce site web, sont protégés au titre de la propriété Intellectuelle et des droits d'Auteurs. La récupération est autorisée, sous réserve d'une utilisation strictement personnelle, excluant l'usage à des fins publicitaires, commerciales, ou d'informations, et quelles soient conformes aux dispositions de l'article L.122-5 du Code de la Propriété Intellectuelle. A l'exception des dispositions précédentes, toute utilisation avec ou sans modification, toute représentation, toute reproduction, par quelque procédé que ce soit, et sur quelque support que ce soit, d'un fichier (ou donnée) complet ou partiel(le) du site, est strictement interdite sans avoir obtenu l'autorisation préalable de Junior ESIEE Paris.
                Art. L.111 et Art. L.112 : Code de la propriété Intellectuelle, Livre 1er, Titre 1er : Objet du Droit d'Auteur : Chapitre 1 : Nature du droit d'auteur - Chapitre 2 : Oeuvres protégées. Nous souhaitons le respect pour nos informations et nos fichiers, et donc le non-vol. Art. L.121 : Droits moraux - Code de la propriété Intellectuelle, Titre 2 : Droits des Auteurs, Chapitre 2.

                En application de la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, chaque internaute dispose des droits d’opposition (article 38 de la loi), d’accès (articles 39, 41 et 42 de la loi) et de rectification (article 40 de la loi) des données le concernant. Ainsi, il peut exiger que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte ou l’utilisation, la communication ou la conservation est interdite.
                Pour exercer ces droits, vous pouvez nous contacter :

                    Par email (courriel) en utilisant le formulaire de contact du site web.
                    Par courrier, à l'adresse : Junior ESIEE, 2 bd Blaise Pascal, BP99, 93162 Noisy le Grand CEDEX

                Junior-Entreprise et JE sont des marques déposées par la Confédération Nationale des Junior-Entreprises. ESIEE Paris, ESIEE Management et ESIEE Engineering sont des marques déposées par la Chambre de Commerce et d'Industrie de Paris. Les appellations, marques et logos présents sur ce site web sont la propriété de leurs ayants droit respectifs. 

                Made with <i class="ion-heart"></i> by Maxence Aïci &amp; Vincent Salahkar      
            </p>
        </section>
        {% block javascripts %}{% endblock %}
        <script src="{{asset('bower_components/jquery/dist/jquery.js')}}"></script>
        <script src="{{asset('bower_components/modernizr/modernizr.js')}}"></script>
        <script src="{{asset('bower_components/fastclick/lib/fastclick.js')}}"></script>
        <script src="{{asset('bower_components/jquery.cookie/jquery.cookie.js')}}"></script>
        <script src="{{asset('bower_components/gsap/src/uncompressed/TweenMax.js')}}"></script>
        <script src="{{asset('bower_components/ScrollMagic/scrollmagic/uncompressed/ScrollMagic.js')}}"></script>
        <script src="{{asset('bower_components/ScrollMagic/scrollmagic/uncompressed/plugins/animation.gsap.js')}}"></script>
        <script src="{{asset('bower_components/gsap/src/uncompressed/plugins/ScrollToPlugin.js')}}"></script>
        <script src="{{asset('bower_components/ScrollMagic/scrollmagic/minified/plugins/debug.addIndicators.min.js')}}"></script>
        <script src="{{asset('bower_components/foundation/js/foundation/foundation.js')}}"></script>
        <script src="{{asset('bower_components/foundation/js/foundation/foundation.equalizer.js')}}"></script>
        <script src="{{asset('bower_components/foundation/js/foundation/foundation.alert.js')}}"></script>
        <script src="{{asset('js/app.js')}}"></script>
    </body>
</html>