Bonjour l'équipe Junior ESIEE,

Ceci est un mail automatique en provenance du site internet junioresiee.com.<br><br>

{{ prenom }} {{ nom }} a contacté Junior ESIEE pour le sujet suivant :<br><br>

{{ message }}<br><br>

Cette personne est joignable au : {{ tel }}. Ou bien à l'adresse mail : {{ email }}.<br><br>

Cette demande a été répertoriée sur l'outil de suivi d'études à l'adresse suivante : <a href="http://www.junioresiee.com/admin/junior/etude/etude/{{ id }}/show">http://www.junioresiee.com/admin/junior/etude/etude/{{ id }}/show</a>.<br><br>

Cordialement.